html { padding: 0; }
body { margin: 0 0 0 14em; padding: 0; font-family: Verdana, Arial, Helvetica, sans-serif; max-width: 50em; }
#main-title { text-align: right; font-size: 0.7em; letter-spacing: 5px; font-weight: bold; color: #000; background-color: #ffc080; padding: 10px 10px 10px 20em; }
#header-image { background-color: #ffffff; background-image: url(../images/logo2.jpg); background-repeat: no-repeat; background-position: center top; height: 360px; border-bottom: 2px solid #4ee; margin: 0; border-top-color: #fff; border-top-style: solid; }
#navrigth { width:140px; height:226px; background-color:#ddf; text-align: left; background-color: #f2f2f2; color: #fff; font-size: 11px; line-height: 2.5em; position: absolute; top: 362px; left: 80px; z-index: 1; margin: 0; border-bottom: 2px solid #ff8000; }
#navrigth a:link,#navrigth a:visited { color: #ff8000; text-decoration: none; margin: 5px; }
#navrigth a:hover { color: #000; text-decoration: underline; }
#balken { color: #f03; font-size: 10px; font-family: "Kristen ITC"; font-weight: bold; background-color: #ccc; text-align: center; letter-spacing: 3px; padding: 5px; border-bottom: 2px ridge #ffc080; }
#headline { font-size: 0.65em; text-align: justify; background-color: #f2f2f2; margin: 0; line-height: 1.5em; padding: 30px 100px 0; }
p.byline {
text-align: right;
margin-bottom: 0;
}
h1 { margin: 0; font-size: 1.8em; color: #f03; font-family: "Kristen ITC"; border-bottom: 1px solid #ffc080; letter-spacing: 5px; font-weight: bold; background-color: #f2f2f2; padding: 23px 0 20px 20px; }
h2 { color: #ffc080; border-bottom: 1px ridge #ffc080; letter-spacing: 5px; font-size: 1em; margin: 0 10px; padding: 10px 5px 10px 30px; }
#main-text { color: #fff; font-size: 0.7em; line-height: 1.8em; background-color: #ff8000; }
#main-text p { text-align: justify; margin-left: 50px; margin-right: 50px; padding-bottom: 10px; }
p, ul, ol, table {
margin-top: 17px;
margin-bottom: 0;
}
ol, ul {
margin-left: 75px;
margin-right: 75px;
}
#footer { text-align: center; font-size: 11px; color: #ffffff; font-weight: bold; background-color: #ffc080; height: 30px; padding: 10px; border: solid 2px #ffc080; }
#footer a:link, #footer a:visited { color: #ffffff; text-decoration: none; margin-bottom: 10px; }
#footer a:hover { text-decoration: underline; color: #000000; margin-bottom: 10px; }
.right {
float: right;
text-align: right;
width: 50%;
}
.left {
float: left;
text-align: left;
padding-left: 50px;
}
.right h3 {
margin-top: 0px;
font-size: 90%;
}
